.inputLabel {
  font-size: 14px;
  font-weight: 400;
}

.root {
  border-radius: 6px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  border-radius: var(--mantine-radius-md);
}

.checkboxLabel {
  padding-inline-start: 6px;
}

.checkboxIcon {
  width: 50%;
}

.navbar {
  background-color: var(--mantine-color-quaternary-0);

  @media only screen and (max-width: 768px) {
    background-color: white;
  }
}
