.container {
  position: absolute;
  top: 24px;
  left: calc(80px + 80px);
  right: 80px;
  padding-bottom: 24px;

  @media only screen and (max-width: 768px) {
    top: 16px;
    left: 12px;
    right: 12px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.shifted {
  left: calc(280px + 30px);
  right: 30px;

  @media only screen and (max-width: 768px) {
    top: 16px;
    left: 12px;
    right: 12px;
    bottom: 16px;
  }
}
