.navbar {
  margin-left: 6px;
  z-index: 100;

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    padding: 0 6px;
    width: 300px;
    border-right: 1px solid var(--border-color);
  }
}

.paper {
  height: calc(100vh - 1rem * 2);
  overflow: auto;

  @media only screen and (max-width: 768px) {
    height: fit-content;
    min-height: calc(100dvh - 1rem * 2 - 10px - 28px);
  }
}
